body {
    height: 200px;
    width: 200px;
    background-color: blue;
    background-image: url(https://schmidtocean.org/wp-content/uploads/Figure-1-web-1140x642.jpg); 
    background-repeat: repeat;
    background-size: cover;
    


    
}