/* External CSS for ch2_colors */

/* Basic page styling */
body {
    background: #fa86d5;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    color: #222;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #6a0dad;
    background: #222;
    padding: 5px;
    border-left: 4px solid steelblue
}

p {
    font-family:cursive;
    color:steelblue;

}

.intro {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Shared styling for all demo boxes */
.example-box {
    padding: 15px;
    margin: 15px 0;
    border-radius: 6px;
    color: rgb(68, 1, 58);
    font-weight: bold;
}

/* 1. Color Names */
.color-name {
    background-color: orchid;
}

/* 2. RGB */
.rgb-box {
    background-color: rgb(100, 180, 255);
}

/* 3. HEX */
.hex-box {
    background-color: #6a0dad;
}

/* 4. HSL */
.hsl-box {
    background-color: hsl(200, 80%, 60%);
}

/* 5. Opacity Methods */

/* opacity property (makes whole element transparent) */
.opacity-css {
    background-color: teal;
    opacity: 0.5; /* affects background + text */
}

/* rgba() */
.rgba-box {
    background-color: rgba(255, 99, 71, 0.5); /* tomato with alpha */
}

/* hsla() */
.hsla-box {
    background-color: hsla(200, 80%, 60%, 0.5);
}
