div {
    border: solid 5px blue;
    height: 250px;
    width: 250px;
    /* padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px; */
    padding: 10px 20px 15px 30px; 
    /* margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px; */
    margin: 10px 20px 15px 30px;
    display: inline-block;





}