.static{
    border: solid 10px aqua;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    position:static;

}

.relative{
    border: solid 10px aqua;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    position:relative;
    left:100px
}

.absolute{
    border: solid 10px aqua;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    position:absolute;
}

.fixed{
    border: solid 10px aqua;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    position:fixed;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

.container {
    height: 2000px; /* just so you can scroll */
    padding: 20px;
}

.sticky {
    position: sticky;
    top: 0;                 /* MUST have this */
    background: yellow;
    padding: 10px;
    border: 2px solid black;
}




